<div class="panel-heading">
  <div class="row">
    <!--******************
      UP/DOWN VOTES
    ******************-->
    <div>
      VOTE ||
      <a><i ng-click="$ctrl.data.votes = $ctrl.data.votes + 1"
      ng-init="$ctrl.data.votes"
      class="glyphicon glyphicon-arrow-up"></i></a>
      <a><i ng-click="$ctrl.data.votes = $ctrl.data.votes - 1"
      ng-init="$ctrl.data.votes"
      class="glyphicon glyphicon-arrow-down"></i></a>
      {{$ctrl.data.votes}}
    </div>

    <!--***************
      TITLE // AUTHOR
    ****************-->
      <h3 class="panel-title">
        {{$ctrl.data.title}} || Written by: {{$ctrl.data.author}}
      </h3>
    </div>
  </div>

<div class="row">
  <!--******
    IMAGE
  *******-->
  <div class="col-md-3">
    <img class="post-image"src="{{$ctrl.data.imageURL}}" alt="">
  </div>
  <!--************
    DESCRIPTION
  *************-->
  <div class="col-md-9">
    <div class="panel-body">
      {{$ctrl.data.description}}
    </div>


  <!--**********
    TIME-STAMP
  ***********-->
    <div class="panel-body">
      Posted: <time am-time-ago="$ctrl.data.createdAt" title="{{ $ctrl.data.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
    </div>
  </div>
</div>
